html, body {
  margin: 0;
  padding: 0;

}
canvas {
  display: block;
}
input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color:transparent;
  padding:0;
  border:none;
  cursor: pointer;
  height:30px;

}

input[type="color"]::-webkit-color-swatch {
    border-radius: 15%;
    border-color:transparent;
    
    
}
input[type="color"]::-moz-color-swatch {
  border-radius: 15%;
  border: none;
}

input[type="range"] {

  accent-color:#333B79;
}

label {
    color:white;
    font-family: Consolas, Baskerville, 'Segoe UI', sans-serif;
}

input[type=checkbox] {
    accent-color:#333B79;
    transform: scale(2);
    background:transparent;
}